body
{
    font-family: 'Noto Serif', serif;
}

audio
{
    display: none;
}

h1
{
    color: whitesmoke;
}

body
{
    background: url("../images/table.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
}

.sean, .anthony
{
    background-color: whitesmoke;
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    line-height: 30px;
    border: 2px solid black
}
.sean p
{
    font-family: sans-serif;
    font-size: 18px;
}

.anthony p, .anthony ul
{
    font-family: sans-serif;
    font-size: 18px;
}

#gamebuttons
{
    border: 1px solid white;
    width: 5%;
    height: 50px;
    margin-top: -1000px;
    padding-top: 10px;
    background: url("../images/redvelvet.svg");
    background-size: cover;
}

button
{
    transition: 1s;
}

button:hover
{
    color: white;
    background-color: #009000;
    transition: 1s;
    cursor: pointer;
}