body
{
    background: url("../images/table.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Noto Serif', serif;
}

audio
{
    display:none;
}

.contain
{
    margin-left: 15%;
    margin-top: 20%;
    padding-bottom: 10px;
    width: 30%;
    height: 250px;
    background: url("../images/title.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

button
{
    display: block;
    margin: auto;
    padding: 2px;
    transition: 1s;
}

button:hover
{
    background-color: #009900;
    transition: 1s;
    color: white;
    cursor: pointer;
}

h1
{
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    color: white;
}

input
{
    transform: rotate(270deg);
    width: 200px;
}
