body
{
    background: url("../images/table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

audio
{
    display:none;
}

.contain
{
    margin-left: 15%;
    margin-top: 20%;
    padding-bottom: 20px;
    border: 1px solid black;
    width: 20%;
    height: 200px;
    background-color: red;
}

button
{
    display: block;
    margin: auto;
    padding: 2px;
}

h1
{
    text-align: center;
}

input
{
    transform: rotate(270deg);
    width: 200px;
}
