#dealer
{

}
/*Css for row of dealer cards
*/
.dealerCards::after
{
    content: ",";
    display: table;
    clear: both;
}
.ui-widget-content
{
    float: left;
    width: 200px; 
    height: 200px;
}
/* Css for row of player cards
*/
.playerCards::after
{
    
    content: ",";
    display: table;
    clear: both;
}
/*Css for row dropzone*/
.row::after
{
    content: ",";
    display: table;
    clear: both;
}
#dropzonePaper
{
    float: left;
    width: 20%; 
    height: 300px; 
    padding: 0.5em; 
    position: relative;
    left: 50px;
    margin: 10px;
    border: 1px solid black;
}
#dropzoneScissors{
    float: left;
    width: 20%; 
    height: 300px; 
    padding: 0.5em; 
    position: relative;
    left: 50px;
    margin: 10px;
    border: 1px solid black;
}
#dropzoneRock
{
    float: left;
    width: 20%;
    height: 300px; 
    padding: 0.5em; 
    position: relative;
    left: 50px;
    margin: 10px;
    border: 1px solid black;
}
#dropzoneLizard
{ float: left;
    width: 20%;
    height: 300px; 
    padding: 0.5em; 
    position: relative;
    left: 50px;
    margin: 10px;
    border: 1px solid black;

}
#dropzoneSpock
{
    float: left;
    width: 20%;
    height: 300px; 
    padding: 0.5em; 
    position: relative;
    left: 50px;
    margin: 10px;
    border: 1px solid black;
}